@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.board-row {
    display: flex;
    flex-direction: row;
}
.square{
    width: 100px;
    height: 100px;
    color: #eee;
    background-color: #e46262;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.finish{
    background-color: #0dc519;
}
.info{
    margin-bottom: 50px;
    position: relative;
    top: -50px;
}
.App{
    text-align: center;
}